body,
button,
input,
h1,
h2,
h3,
h4,
a {
    font-family: fantasy, Arial, Helvetica, sans-serif !important;
}

.content h4 {
    text-transform: capitalize;
}


.name {
    display: flex;
    align-items: center;
}

.error {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    text-align: center;

}

.gridI {
    display: flex;
    justify-content: space-evenly;


}


.error p {
    color: red;
}

.imgcontainer {
    max-width: 300px;
    max-height: 300px;
}

.checkbox:nth-child(1) {
    display: flex;
    align-items: flex-start;
}

.textItem {
    display: flex;
    justify-content: space-between;


}

.textItem p {
    text-align: center;
    text-transform: capitalize;
}

.wr {
    text-align: center;
    display: block;
    position: absolute;
    top: -20px;
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.cl {
    color: #4183C4
}