body,
button,
input,
h1,
h2,
h3,
h4,
a {
    font-family: fantasy, Arial, Helvetica, sans-serif !important;
}

.name {
    display: flex;
    align-items: center;
}

/* .mycontainer {
    max-width: 1100px !important;
    display: flex;
    align-items: center;
    padding-top: 200px;


} */